body {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container-detail {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.invoice-header {
    border: 1px solid #ccc;
    padding: 20px;
}
.invoice-header h2 {
    margin-bottom: 10px;
}
.invoice-header p {
    margin-bottom: 5px;
}
.invoice-detail {
    border: 1px solid #ccc;
    padding: 20px;
    width: 60%;
}
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
.invoice-footer {
    border: 1px solid #ccc;
    padding: 20px;
}
.invoice-footer p {
    margin-bottom: 5px;
}
.invoice-footer .payment-methods {
    display: flex;
    justify-content: space-between;
}
.invoice-footer .payment-methods p {
    margin-bottom: 0;
}
.invoice-footer .scan-to-pay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.invoice-footer .scan-to-pay img {
    width: 100px;
    height: 100px;
}
.paid {
    color: green;
}

.scan-to-pay img {
    border: 2px solid #007bff;
    border-radius: 10px;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    margin: 20px 10px;
}

.button-group .btn {
    margin-left: 10px;
}

.payment-information {
    padding: 20px;
    margin-top: 20px;
}

.payment-information h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #007bff;
}

.payment-information p {
    margin: 5px 0;
    font-size: 1rem;
}
